
.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.header-img{
height: 200px !important;
}
.post-img{
    height: 60px;width: 90px;
}
.list-group-item:hover{
    background-color:rgb(99, 114, 128);
}
.container-flude{
    background-color:#616161!important;
height: 100px !important;
}

.btn-disable{
    cursor: auto !important;
    opacity: 0.50;
}
.footer-button{
    padding: 5px;
}
.footer-button:hover{
background-color: lightslategray !important;
border: 0;

}